@model InvoiceManager.Models.Domains.Invoice

@{
    ViewBag.Title = "Faktura";
}

<link href="@Url.Content("~/Content/PrintInvoice.css")" rel="stylesheet" type="text/css" />

<div class="invoice-font">

    <div class="row">
        <div class="col-12 header-font">
            <div>Faktura</div>
            <div>Nr @Model.Title</div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-5">
            <img src="@Url.Content("~/Content/Images/logo.gif")" alt="Logo sprzedawcy" class="logo" />
        </div>
        <div class="col-4 offset-3">
            <div class="top-line">
                <div class="top-small-caption">
                    Data sprzedaży
                </div>
                <div>
                    @Model.CreatedDate.ToString("dd-MM-yyyy")
                </div>
            </div>
            <div class="top-line">
                <div class="top-small-caption">
                    Termin zapłaty
                </div>
                <div>
                    @Model.PaymentDate.ToString("dd-MM-yyyy")
                </div>
            </div>
            <div class="top-line">
                <div class="top-small-caption">
                    Sposób zapłaty
                </div>
                <div>
                    @Model.MethodOfPayment.Name
                </div>
            </div>
        </div>  
    </div>

    <div class="row mt-5">
        <div class="col-5">
            <div class="top-line">
                <div class="top-small-caption">
                    Sprzedawca
                </div>
                <div>@Model.User.Name</div>
                <div>ul. @Model.User.Address.Street @Model.User.Address.Number</div>
                <div>@Model.User.Address.PostalCode @Model.User.Address.City</div>
                <div>Email: @Model.User.Email</div>
            </div>
        </div>

        <div class="col-5 offset-2">
            <div class="top-line">
                <div class="top-small-caption">
                    Nabywca
                </div>
                <div>@Model.Client.Name</div>
                <div>ul. @Model.Client.Address.Street @Model.Client.Address.Number</div>
                <div>@Model.Client.Address.PostalCode @Model.Client.Address.City</div>
                <div>Email: @Model.Client.Email</div>
            </div>
        </div>
    </div>

    <table class="table table-bordered mt-5">
        <thead>
            <tr>
                <th>Lp.</th>
                <th>Produkt</th>
                <th>Ilość</th>
                <th>Wartość</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pozycja in Model.InvoicePositions)
            {
                <tr>
                    <td>@pozycja.Lp</td>
                    <td>@pozycja.Product.Name</td>
                    <td>@pozycja.Quantity</td>
                    <td>@pozycja.Value zł</td>
                </tr>
            }
        </tbody>
    </table>

    <div class="row">
        <div class="col-3 offset-9">
            <div class="value">Wartość <strong>@Model.Value PLN</strong></div>
        </div>
        <div class="col-7">
            @if (!string.IsNullOrEmpty(Model.Comments))
            {
                <div class="comments">Uwagi: @Model.Comments</div>
            }
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-6">
            <div class="top-small-caption">Wystawił</div>
            <div>@Model.User.Name</div>
            <div class="mt-3">.................................</div>
        </div>

        <div class="col-6">
            <div class="top-small-caption">Odebrał</div>
            <div>@Model.Client.Name</div>
            <div class="mt-3">..................................</div>
        </div>
    </div>
</div>

